config.env
*auth_token.txt
*.pyc
downloads/*
download/*
data*
.vscode
.idea
*.json
*.pickle
.netrc
authorized_chats.txt
sudo_users.txt
log.txt
accounts/*
Thumbnails/*
README.md
drive_folder
cookies.txt
